<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1PgQQM-J9QnoRVCOcn2rVHE-NnoothqM</string>
	<key>GCM_SENDER_ID</key>
	<string>589466789184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.impulse.uz</string>
	<key>PROJECT_ID</key>
	<string>impulse-lc</string>
	<key>STORAGE_BUCKET</key>
	<string>impulse-lc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589466789184:ios:59b4c226e924a49011c6a5</string>
</dict>
</plist>